<footer>
    <div id="footer-container">
        <div class="footer-col">
            <h4>Katagoriler</h4>
            <ul>
                <li><a href="#">Erkek</a></li>
                <li><a href="#">Kadın</a></li>
                <li><a href="#">Anne&Çocuk</a></li>
                <li><a href="#">Kozmetik</a></li>
                <li><a href="#">Elektronik</a></li>

            </ul>
        </div>
        <div class="footer-col">
            <h4>Popüler Markaları</h4>
            <ul>
                <li><a href="#">Android Telefonlar</a></li>
                <li><a href="#">Ipohne IOS Telefonlar</a></li>
                <li><a href="#">Xiaomi Android Telefonlar</a></li>
                <li><a href="#">Samsung Android Telefonlar</a></li>
                <li><a href="#">iPohne 14 Pro</a></li>
                <li><a href="#">Mini/Watch 7</a></li>
                <li><a href="#">Galaxy Note 10</a></li>
                <li><a href="#">S20/S20 Plus/S20 Ultra</a></li>
                <li><a href="#"></a></li>


            </ul>
        </div>
        <div class="footer-col">
            <h4>Kurumsal</h4>
            <ul>
                <li><a href="#">Hakkımızda</a></li>
                <li><a href="#">Vizyon&Misyon</a></li>
                <li><a href="#">Yönetim</a></li>
                <li><a href="#">İletişim</a></li>
               
            </ul>
        </div>
        <div class="footer-col">
            <h4>Bizi Takip Edin</h4>
            <div class="social-links">
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin"></i></a>

            </div>
        </div>
</div>
</footer>