 <!-- Ortak Headar İmport -->
<%- include("partials/_header")%>
<title>Giriş Yap</title>
<!--css Codes-->
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/login-register.css">

<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script>
  function onSubmit(token) {
    document.getElementById("demo-form").submit();
  }
</script>

<body>
<!-- Ortak Headar İmport -->
<%- include("partials/_menu")%>

    <!--  Home Page      -->
    <section>
        <div class="imgBox">
            <img src="/images/login-register-arkaplan.jpg" alt="">
        </div>
        <div class="contentBox">
            <div class="formBox">
                <h2>Giriş Yap</h2>
                <form action="/login" method="post" id="demo-form">
                  <% if(emailPasswordError.length>0){%>
                    <div class="alert alert-danger" style="text-align:center ;" role="alert">
                      <%=emailPasswordError%>
                    </div> 
                    <% }%>
                    <div class="inputBox">
                       <span>Mail Adresiniz</span><input type="email" name="email" required>
                    </div>
                    <div class="inputBox" id="password">
                        <span>Şifreniz</span>
                        <input id="show"  type="password" name="password" required>
                        <label><input id="show-password-check" type="checkbox" onclick="myFunction()"><i class="fa-regular fa-eye-slash"></i></label>
                         
                     </div>
                     <div class="rememberme"><label><input type="checkbox">Beni Hatırla</label></div>
                     <div class="inputBox">
                        <button id="newButton" class="g-recaptcha" data-sitekey="6LddLoQlAAAAALh-JsMnJUlT0zcVGrb5FU7shTG1" data-callback="onSubmit"><input  type="submit" value="Giriş Yap" ></button>   
                     </div> 
                     <div class="inputBox">
                        <p>Hesabın Yok'mu? <a href="/register">Hemen Kaydol</a></p>
                     </div>
                       
                </form>
            </div>
        </div>
    </section>

    <!--  Home Page Finish     -->
      <!--  Ortak Footer İmport -->
  <%-include("partials/_footer")%>
  
  <script src="/js/active.js"></script>
  <script src="/js/passHideShow.js"></script>

</body>
</html>