 <!-- Ortak Headar İmport -->
 <%- include("partials/_header")%>
 <title>Üye Ol</title>
 <!--css Codes-->
 <link rel="stylesheet" href="css/style.css">
 <link rel="stylesheet" href="css/login-register.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
 <body>

<!-- Ortak Headar İmport -->
<%- include("partials/_menu")%>

    <!--  Home Page      -->
    <section>
        <div class="imgBox">
            <img src="/images/login-register-arkaplan.jpg" alt="">
        </div>
        <div class="contentBox">
            <div class="formBox">
                <h2>Kayıt Ol</h2>
                <form action="users/register" method="post">
                    <div class="inputBox">
                        <span>Adınız</span><input type="text" name="name" required>
                     </div>
                     <div class="inputBox">
                        <span>Soyadınız</span><input type="text" name="lastName" required>
                     </div>
                    <div class="inputBox">
                       <span>Mail Adresiniz</span><input type="email" name="email" required>
                    </div>
                    <div class="inputBox">
                        <span>Şifreniz</span><input type="password" name="password" required>
                     </div>
                     <div class="inputBox">
                        <span>Telefon Numarası</span><input type="tel" name="phone" required>
                     </div>
                     <div class="inputBox">
                        <span>Doğum Tarihiniz</span><input type="date" id="birthday" name="birthday">
                     </div>
                      <!-- Trigger the modal with a button -->
 <div data-toggle="modal" data-target="#myModal" class="agreement"><a href="#" ><label ><input type="checkbox" id="checkbox"></label>Kullanıcı Sözleşmesini Onaylıyorum</a></div>
      
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Kullanıcı Sözleşmesi</h4>
      </div>
      <div class="modal-body">
        <p>1. SORUMLULUKLAR
         a.Firma, fiyatlar ve sunulan ürün ve hizmetler üzerinde değişiklik yapma hakkını her zaman saklı tutar. 
         b.Firma, üyenin sözleşme konusu hizmetlerden, teknik arızalar dışında yararlandırılacağını kabul ve taahhüt eder.
         c.Kullanıcı, sitenin kullanımında tersine mühendislik yapmayacağını ya da bunların kaynak kodunu bulmak veya elde etmek amacına yönelik herhangi bir başka işlemde bulunmayacağını aksi halde ve 3. Kişiler nezdinde doğacak zararlardan sorumlu olacağını, hakkında hukuki ve cezai işlem yapılacağını peşinen kabul eder. 
         d.Kullanıcı, site içindeki faaliyetlerinde, sitenin herhangi bir bölümünde veya iletişimlerinde genel ahlaka ve adaba aykırı, kanuna aykırı, 3. Kişilerin haklarını zedeleyen, yanıltıcı, saldırgan, müstehcen, pornografik, kişilik haklarını zedeleyen, telif haklarına aykırı, yasa dışı faaliyetleri teşvik eden içerikler üretmeyeceğini, paylaşmayacağını kabul eder. Aksi halde oluşacak zarardan tamamen kendisi sorumludur ve bu durumda ‘Site’ yetkilileri, bu tür hesapları askıya alabilir, sona erdirebilir, yasal süreç başlatma hakkını saklı tutar. Bu sebeple yargı mercilerinden etkinlik veya kullanıcı hesapları ile ilgili bilgi talepleri gelirse paylaşma hakkını saklı tutar.
         e.Sitenin üyelerinin birbirleri veya üçüncü şahıslarla olan ilişkileri kendi sorumluluğundadır. </p>
      </div>
      <div class="modal-footer">
        <button onclick='checkUncheck()' type="button" class="btn btn-default" data-dismiss="modal">Onaylıyorum</button>
      </div>
    </div>

  </div>
</div>

                    
                     <div class="inputBox">
                        <input type="submit"value="Kayıt Ol" >
                     </div> 
                     
                     <div class="inputBox">
                        <p>Zaten Bir Hesabım Var <a href="/login">Hemen Giriş Yap</a></p>
                     </div>    
                </form>
            </div>
        </div>
       
    </section>
    
    <!--  Home Page Finish     -->
    
      <!--  Ortak Footer İmport -->
  <%-include("partials/_footer")%>
  
  <script src="/js/active.js"></script>
  <script src="/js/agreementClick.js"></script>
</body>
</html>