<!-- Ortak Headar İmport -->
<%- include("partials/_header")%>
<title>Shop</title>
<!--css Codes-->
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="/css/shop.css">
<body>
<!-- Ortak Headar İmport -->
<%- include("partials/_menu")%>

    <!--HomePage-->
    
    <section id="page-header">
        <h2>#bizimMarkamızBizimTarzımız</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </section>

    <section id="product">
        <h2>Size Özel Ürünler</h2>
        <p>En Yeni Modellerimiz</p>
        <div class="pro-contanier">
            <div class="pro" onclick="window.location.href='/product';">
                <img src="images/products/f1.jpg" alt="">
                <div class="description">
                    <span>Adidas</span>
                    <h5>Kısa Kollu SlimFit T-shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>78 TL</h4>
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
            </div>
            <div class="pro">
                <img src="images/products/f2.jpg" alt="">
                <div class="description">
                    <span>Adidas</span>
                    <h5>Kısa Kollu SlimFit T-shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>78 TL</h4>
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
            </div>
            <div class="pro">
                <img src="images/products/f3.jpg" alt="">
                <div class="description">
                    <span>Adidas</span>
                    <h5>Kısa Kollu SlimFit T-shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>78 TL</h4>
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
            </div>
            <div class="pro">
                <img src="images/products/f4.jpg" alt="">
                <div class="description">
                    <span>Adidas</span>
                    <h5>Kısa Kollu SlimFit T-shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>78 TL</h4>
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
            </div>
            <div class="pro">
                <img src="images/products/f5.jpg" alt="">
                <div class="description">
                    <span>Adidas</span>
                    <h5>Kısa Kollu SlimFit T-shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>78 TL</h4>
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
            </div>
            <div class="pro">
                <img src="images/products/f6.jpg" alt="">
                <div class="description">
                    <span>Adidas</span>
                    <h5>Kısa Kollu SlimFit T-shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>78 TL</h4>
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
            </div>
            <div class="pro">
                <img src="images/products/f7.jpg" alt="">
                <div class="description">
                    <span>Adidas</span>
                    <h5>Kısa Kollu SlimFit T-shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>78 TL</h4>
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
            </div>
            <div class="pro">
                <img src="images/products/f8.jpg" alt="">
                <div class="description">
                    <span>Adidas</span>
                    <h5>Kısa Kollu SlimFit T-shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>78 TL</h4>
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
            </div>
        
            <div class="pro">
                <img src="images/products/n1.jpg" alt="">
                <div class="description">
                    <span>Adidas</span>
                    <h5>Kısa Kollu SlimFit T-shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>78 TL</h4>
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
            </div>
            <div class="pro">
                <img src="images/products/n2.jpg" alt="">
                <div class="description">
                    <span>Adidas</span>
                    <h5>Kısa Kollu SlimFit T-shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>78 TL</h4>
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
            </div>
            <div class="pro">
                <img src="images/products/n3.jpg" alt="">
                <div class="description">
                    <span>Adidas</span>
                    <h5>Kısa Kollu SlimFit T-shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>78 TL</h4>
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
            </div>
            <div class="pro">
                <img src="images/products/n4.jpg" alt="">
                <div class="description">
                    <span>Adidas</span>
                    <h5>Kısa Kollu SlimFit T-shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>78 TL</h4>
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
            </div>
            <div class="pro">
                <img src="images/products/n5.jpg" alt="">
                <div class="description">
                    <span>Adidas</span>
                    <h5>Kısa Kollu SlimFit T-shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>78 TL</h4>
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
            </div>
            <div class="pro">
                <img src="images/products/n6.jpg" alt="">
                <div class="description">
                    <span>Adidas</span>
                    <h5>Kısa Kollu SlimFit T-shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>78 TL</h4>
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
            </div>
            <div class="pro">
                <img src="images/products/n7.jpg" alt="">
                <div class="description">
                    <span>Adidas</span>
                    <h5>Kısa Kollu SlimFit T-shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>78 TL</h4>
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
            </div>
            <div class="pro">
                <img src="images/products/n8.jpg" alt="">
                <div class="description">
                    <span>Adidas</span>
                    <h5>Kısa Kollu SlimFit T-shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>78 TL</h4>
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
            </div>
        </div>
    </section>
    
    <section id="page-number">
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#"><i class="fa-solid fa-arrow-right"></i></a>
    </section>
 
    <!--HomePage End-->




    <section id="newsletters">
        <div class="newstext">
            <h4>Yeni Ürünleri & Kampanyaları İlk Sen Öğren</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero, at.</p>
        </div>
        <div class="form">
            <input placeholder="Mail Adresinizi Girin Fırsatlardan Haberdar Olun">
            <button class="normal">Onayla</button>
        </div>
    </section>
  <!--  Ortak Footer İmport -->
  <%-include("partials/_footer")%>
  
  <script src="/js/active.js"></script>
</body>
</html>