@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'League Spartan', sans-serif;
}
html{
    font-size: 10px;
}
body{
    width: 100%;
}
button.normal{
    font-size: 1.4rem;
    font-weight: 600;
    padding: 1.5rem 3rem;
    color: #000;
    background-color: #fff;
    border-radius: .4rem;
    cursor: pointer;
    border: none;
    outline: none;
    transition:  .2s;
}
/*  Header Start  */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 8rem;
    background: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0,0,.06);
    z-index: 999;
    position: sticky; /*stay on top  :)*/
    top: 0;
    left: 0;
}
.logo{
    font-size: 3rem;
    text-decoration: none;
    color: rgb(234, 0, 255);
    font-weight: 700;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar li{
    list-style-type: none;
    padding: 0 2rem;
    position: relative;
  
}
#navbar li a{
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 600;
    color: #1a1a1a;
    transition: all .4s;
}
#navbar li a:hover,
#navbar li a.active
{
    color: rgb(234, 0, 255);
}
#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 40%;
    height: .2rem;
    background-color: rgb(234, 0, 255);
    position: absolute;
    bottom: -.4rem;
    left: 2rem;
}
#mobile{/*Responsive navbar*/
    display: none;
    align-items: center;

}
#close{/*Responsive navbar*/
    display: none;
}
/*  Header Finish  */
/*  Home Page  */
/*  Hero Section   */
#hero{
    background-image: url(/images/arkaplan.jpg);
    height: 90vh;
    width: 100%;
    background-size: cover;
    /*background-position: top 25% right 0;*//*resimde isteğe bağlı*/
    padding: 0 8rem;
    /*to center text*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#hero h4{
    padding-bottom: 15px;
    font-size: 5rem;
    color: #222;
}
#hero h1{
    color: rgb(234, 0, 255);
    font-size: 5rem;
    line-height: 6.4rem;
    
}
#hero p{
    font-size: 1.6rem;
    margin: 1.5rem 0 3rem 0;
    color: #505c57bc;
}
#hero button{
    border: none;
    background-color: rgb(234, 0, 255);
    padding: 2rem;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    color: white;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.5rem;
    /*box-shadow: 0 0 80px black;*/ /*gölge isteğe bağlı*/
    transition: all .4s;
}
#hero button:hover{
    border-radius:0 50% 0 50% ;
}
/*  Hero Section finish   */
/*  Feature Section   */
#feature{
    padding: 40px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#feature .fe-box{
    width:18rem;
    text-align: center;
    padding: 2.5rem 1.5rem;
    box-shadow: 2rem 2rem 3rem rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: .4rem;
    margin: 1.5rem 0;
}
#feature .fe-box:hover{
    box-shadow: 1rem 1rem 5rem rgba(70, 60, 220, 0.1);
}
#feature .fe-box img{
    width: 100%;
    margin-bottom: 1rem;
}
#feature .fe-box h6{
    font-size: 1.4rem;
    padding:.9rem .8rem .6rem .8rem ;
    display: inline-block;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    font-weight: 600;
    background-color: #fddde4;
}
#feature .fe-box:nth-child(2) h6{
    background-color: #cdebbc;
}
#feature .fe-box:nth-child(3) h6{
    background-color: #d1e8f2;
}
#feature .fe-box:nth-child(4) h6{
    background-color: #cdd4f8;
}
#feature .fe-box:nth-child(5) h6{
    background-color: #f6dbf6;
}
#feature .fe-box:nth-child(6) h6{
    background-color: #fff2eb;
}
/*  Feature Section Finish   */
/*  Product Section    */
#product{
    text-align: center;
    padding: 4rem 8rem;
}
#product .pro-contanier{
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    flex-wrap: wrap;
}
#product h2{
    font-size: 5rem;
    margin: 2rem 0;
    font-weight: 700;
}
#product p{
    font-size: 1.8rem;
    margin: 2rem 0;
    color: #505c57bc;
}
#product .pro{
    width: 23%;
    min-width: 25rem;
    padding: 1rem 1.2rem;
    margin-top: 2rem;
    border:1px solid #cce7d0 ;
    border-radius: 2rem;
    cursor: pointer;
    transition: all .4s;
    position: relative;
}
#product .pro:hover{
    box-shadow: 2rem 2rem 3rem rgba(0, 0, 0, 0.03) ;
}
#product .pro img{
    width: 100%;
    border-radius: 2.5rem;
}
#product .pro .description{
    padding: 1rem 0;
    text-align: start;
}
#product .pro .description span{
    color: #505c57bc;
    font-size: 1.2rem;
}
#product .pro .description h5{
    padding-top: .7rem;
    padding-bottom: .5rem;
    color: #1a1a1a;
    font-size: 1.4rem;
}
#product .pro .description i{
    font-size: 1.2rem;
    color: rgb(243, 181, 25);
}
#product .pro .description h4{
    padding-top: .7rem;
    font-size: 1.5rem;
    color: rgb(234, 0, 255);
}
#product .pro .cart{
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    border-radius: 5rem;
    background-color: rgba(234, 0, 255, 0.178);;
    color: rgb(234, 0, 255);
    font-size: 1.6rem;
    position: absolute;
    bottom: 2rem;
    right: 1rem;
}
/*  Product Section Finish  */
/*  Banner Section    */
#banner{
    margin: 4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(/images/banner/b2.jpg);
    background-attachment: fixed;
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}
#banner h4{
    color: #fff;
    font-size: 1.6rem;
}
#banner h2{
    color: #fff;
    font-size: 3rem;
    padding: 1rem 0;
    margin: 1.2rem 0 1.2rem 0;
}
#banner h2 span{
    color: rgb(255, 1, 1);
}
#banner button:hover{
    background-color: rgb(234, 0, 255);
    color: white;
}
/*  Banner Section Finish   */
/*  small-banner   */
#small-banner{
    padding: 40px 80px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#small-banner .sm-banner-box{
    margin: 40px 0;
   padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /*Bak buraya emreeeeeeeeeeee*/
    background-image: url(/images/banner/b17.jpg);
    min-width:45%;
    height: 50vh;
    background-size: cover;
    background-position: center;
}
#small-banner .sm-banner-box2{
    background-image: url(/images/banner/b10.jpg);
}
#small-banner .sm-banner-box button.normal{
    background-color: transparent;
    border: 1px solid #fff;
    font-weight: 600;
    font-size: 1.3rem;
    padding: 11px 18px;
    color: #fff;
}
#small-banner .sm-banner-box:hover button{
    background-color: rgb(234, 0, 255);
    border: 1px solid rgb(234, 0, 255);
}
#small-banner h4{
    color: #fff;
    font-size: 2rem;
    font-weight: 300;
    padding-bottom: 1.5rem;
}
#small-banner h2{
    color: #fff;
    font-size: 2.8rem;
    font-weight: 800;
    padding-bottom: 1.2rem;
}
#small-banner span{
    color: #fff;
    font-size: 1.4rem;
    font-weight: 400;
    padding-bottom: 1.8rem;
}

/*  small-banner finish   */
/*  Banner3  */
#banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding:0 8rem;
}
#banner3 .sm-banner-box{
    margin: 2rem 0;
    padding: 2rem;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: flex-start; /*Bak buraya emreeeeeeeeeeee*/
     background-image: url(/images/banner/b7.jpg);
     min-width:30%;
     height: 30vh;
     background-size: cover;
     background-position: center;
}
#banner3  .sm-banner-box2{
    background-image: url(/images/banner/b4.jpg);
}
#banner3 .sm-banner-box3{
    background-image: url(/images/banner/b18.jpg);
}
#banner3 h2{
    color: #fff;
    font-weight: 900;
    font-size: 2.2rem;
    
}
#banner3 h3{
    margin-top: 1.2rem;
    color: rgb(255, 1, 1);
    font-weight: 800;
    font-size: 1.5rem;
}

/*  Banner3 finish */
/*  newsletters    */
#newsletters{
    padding: 6rem 8rem;
    margin: 4rem 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(/images/banner/b14.png);
    background-repeat: no-repeat;
    background-color: #041e42;
}
#newsletters h4{
    font-size: 2.4rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 1.5rem;
}
#newsletters p{
    font-size: 1.4rem;
    font-weight: 600;
    color: #818ea0;
}
#newsletters .form{
    display: flex;
    width: 40%;
}
#newsletters input{
    height: 3.125rem;
    padding: 2rem 1.25rem;
    font-size: 1.4rem;
    width: 100%;
    border: 1px solid transparent;
    border-radius: .4rem;
    outline: none; /*emooooooooo*/
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#newsletters button{
    background-color: rgb(234, 0, 255);
    color: #fff;
    white-space:nowrap;/*emooooooooo*/
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
/*  newsletters finish   */
/*   footer   */
footer{
    padding: 4rem 8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2rem;
}
footer .footer-logo{
    margin-bottom: 3rem;
}
footer h4{
    font-size: 1.4rem;
    padding-bottom: 2rem;
}
footer p{
    font-size: 1.3rem;
    margin: 0 0 .8rem 0;
}
footer a{
    font-size: 1.3rem;
    text-decoration: none;
    color: #222;
    margin-bottom: 1rem;
}
footer .follow{
    margin-top: 2rem;

}
footer .follow i{
    font-size: 1.6rem;
    color:#465b52 ;
    padding-right: .5rem;
    cursor: pointer;
    
}
footer .install .row img{
    border:1px solid rgb(234, 0, 255);
    border-radius: .6rem;
}
footer .install img{
    margin:1rem 0 1.5rem 0;
}
footer .follow i:hover,
footer a:hover{
    color: rgb(234, 0, 255);
}

footer .copyright{
    width: 100%;
    text-align: center;
}
/*   footer finish   */


/*        Responsive Start      */

@media (max-width:799px) {
    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -30rem;
        height: 100vh;
        width: 30rem;
        background-color: #E3E6F3;
        box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.1);
        padding: 8rem 0 0 1rem;
        transition: all .4s;
    }
    #navbar.active{/*js code*/
        right: 0;
    }
    #navbar li{
        margin-bottom: 3rem;

    }
    #mobile{
        display: flex;
        align-items: center;
    }
    #mobile i{
        color: rgb(234, 0, 255);
        font-size: 2.4rem;
        padding-left: 2rem;
    }
    #close{
        display: initial;/*emooo*/
        position: absolute;
        top: 3rem;
        left: 3rem;
        color: rgb(234, 0, 255);
        font-size: 2.4rem;
    }
    #lg-bag{
        display: none;
    }
    #hero{     
        height: 70vh;       
        padding: 0 10rem;
        background-position: top 30% right 30%;
        background-image: url(/images/mobile-arkaplan.jpg);
    }
    #hero h4, #hero h1{
        font-size: 4.5rem;
    }
    #hero p{
        font-size: 1.4rem;
    }
    #hero button{
        font-size: 1.2rem;
    }

    #feature{
        padding: 4rem 4rem;
        justify-content: center;
    }
    #feature .fe-box{
        margin: 1.5rem 1.5rem;
    }
    #product {
        padding: 1rem 0;
    }
    #product .pro-contanier{
        justify-content: center;
        width: 100%;
    }
    #product .pro{
        margin: 1.5rem;
    }
    #banner{
        height: 30vh;
    }
    #small-banner .sm-banner-box{
        min-width: 100%;
        height: 30vh;
        margin: 0;
    }
    #banner3{
        padding: 0 4rem;
    }
    #banner3 .sm-banner-box{
        width: 28%;
        margin: 0;
    }
   
    #newsletters .form{
        width: 80%;
        margin-top: 1rem;
    }
}
@media (max-width:510px) {/*477*/
    header{
        padding: 1rem 1rem;
    }
    #hero{
        padding: 0 2rem;
        background-position:73% ;/*ayarlaaaaa*/
    }
    #feature{
        justify-content: space-between;
        padding: 20px;
    }
   
    #product .pro{
       width: 100%;
       
    }
    #feature .fe-box{
        width: 15.5rem;
        margin: 0 auto 1.5rem auto;
    }
    #banner{
        height: 40vh;
        background-attachment: scroll;
    }
    #small-banner {
        margin:2rem;
        padding: 0;
    }
    #small-banner .sm-banner-box{
        height: 40vh;
        margin:1rem 0 0 0;
    }
    #banner3{
        padding: 0 20px;
    }
    #banner3 .sm-banner-box{
        width: 100%;
        margin-top: 1rem;
    }
    #banner3 h2, #banner h3{
        font-size: 3rem;
    }
    #newsletters{
        padding: 2rem 1rem;
    }
    #newsletters .form{
    width: 100%;
    }
    footer{
        padding: 0 2rem;
    }
}